{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Liste des itinéraires{% endblock title%}

{% block content %}

  <h1>Itinéraires</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Durée estimée (hh:mm:ss)</th>
        <th scope="col">Difficulté estimée</th>
        <th scope="col">Point de départ</th>
        <th scope="col">Altitude de départ</th>
        <th scope="col">Altitude minimale</th>
        <th scope="col">Altitude maximale</th>
        <th scope="col">Dénivelé positif cumulé</th>
        <th scope="col">Dénivelé négatif cumulé</th>
      </tr>
    </thead>
    <tbody>
      {% for itinerary in itineraries_list %}
        <tr>
          <th scope="row"><a class="link-success" href="{% url 'itineraires:sorties_liste' itinerary.id %}">{{ itinerary.nom }}</a></th>
          <td>{{ itinerary.duree }}</td>
          <td>{{ itinerary.difficulte }}/5</td>
          <td>{{ itinerary.p_dep }}</td>
          <td>{{ itinerary.alt_dep }}m</td>
          <td>{{ itinerary.altitude_min }}m</td>
          <td>{{ itinerary.altitude_max }}m</td>
          <td>{{ itinerary.denivele_pos }}m</td>
          <td>{{ itinerary.denivele_neg }}m</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

 {% endblock content%}

