{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Liste des sorties{% endblock title%}

{% block content %}

<h1> <a class="link-success" href="{% url 'itineraires:itineraires_liste' %}">{{ iti.nom }}</a></h1>

<div class="p-3 mb-2 bg-light text-dark">{{iti.description}}</div>
</p> Durée estimée : {{iti.duree}}</p>
</p> Difficulté estimé : {{iti.difficulte}}</p>
</p> Point de départ : {{iti.alt_dep}}</p>
</p> Altitude de départ : {{iti.p_dep}}</p>
</p> Altitude maximale : {{iti.alitudet_max}}</p>
</p> Altitude minimale : {{iti.altitude_min}}</p>
</p> Dénivelé positif cumulé : {{iti.denivele_pos}}</p>
</p> Dénivelé négatif cumulé  : {{iti.denivele_neg}}</p>

<h2>Sorties {{ iti.nom }}</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Par</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for excursion in excursions_list %}
    <tr>
        <th scope="row">{{ excursion.utilisateur }}</td>
        <td>{{ excursion.date }}</td>
        <td><button onclick="document.location='{% url 'itineraires:sortie_detail' excursion.id %}'" type="button" class="btn btn-outline-success">Consulter</button></td>
        <td><button onclick="document.location='{% url 'itineraires:sortie_update' excursion.id %}'" type="button" class="btn btn-outline-primary">Modifier</button></td>
    </tr>
    {% endfor %}
    
    </tbody>

    <table class="table">
    <tbody>
        <tr>
            <td></td>
            <td class="text-center"><button onclick="document.location='{% url 'itineraires:sortie_new' %}'" type="button" class="btn btn-outline-warning">+</button></td>
            <td></td>
        </tr>
    </tbody>

    {% endblock content %}