{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Liste des sorties{% endblock title%}

{% block content %}

<h1>Sorties {{ iti.nom }}</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Par</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for excursion in excursions_list %}
    <tr>
        <th scope="row">{{ excursion.utilisateur }}</td>
        <td>{{ excursion.date }}</td>
        <td><button onclick="document.location='{% url 'itineraires:sortie_detail' excursion.id %}'" type="button" class="btn btn-outline-success">Consulter</button></td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="text-center"><button onclick="document.location='{% url 'itineraires:sortie_new' %}'" type="button" class="btn btn-outline-warning">+</button></td>
        <td></td>
    </tr>
    </tbody>

    {% endblock content %}