{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>{% block title %}Topoguide{% endblock %}</title>
</head>
<style>
</style>

<body>
    <nav class="navbar navbar-success bg-success">
        <div class="container-fluid">
            
            <a class="navbar-brand text-white" href="{% url 'itineraires:itineraires_liste' %}">
                <img src="{% static 'images/hiking.png' %}" width="40" height="40" class="d-inline-block" alt="">
                Topoguide
            </a>
            <button onclick="document.location='{% url 'logout' %}'" type="button" class="btn btn-outline-light">Log out</button>
        </div>
      </nav>

    {% block content %}{% endblock %}

</body>
</html>